.item{
  width: 100%;
  height: 100%;
}

.itemDetail{
  width: 100%;
  height: 500px;
  margin-top: -10px;
}
.price{
  display: flex;
  align-items: center;//垂直居中
  width: 100%;
  height: 100px;
  background-color: RGB(253,81,36);
  color: white;
  font-size: larger;

}
.itemName{
  width: 100%;
  height: 100px;
  font-size: large;
  margin: 35px;
}
.describe{
  width: 100%;
  height: 125px;
  margin: 25px;

}
.buyField{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
  vertical-align: bottom;
}

.homeAndCart{
  position: relative;
  float: left;
  width: 35%;
  height: 100%;
  //font-size: small;
  border-radius: 20px;
}
.homeOption{
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
}

.addAndBuy{
  background-color: aqua;
  position: relative;
  float: right;
  width: 60%;
  height: 100%;
  border-radius: 20px;

}
.buyOption{
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
}
.add{
  color: black;
  background-color: RGB(254,208,0);
}
.buy{
  color: white;
  background-color: red;
}
